@font-face {
        font-family: 'SerifPro-Bold';
        src: url("@/assets/fonts/SourceSerifPro-Bold.otf");
}
@font-face {
        font-family: 'SerifPro-SemiBold';
        src: url("@/assets/fonts/SourceSerifPro-SemiboldIt.otf");
}
@font-face {
        font-family: 'SerifPro-Regular';
        src: url("@/assets/fonts/SourceSerifPro-Regular.otf");
}