* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.main-container {
        max-width: 1250px;
        width: 100%;

        margin: 0 auto;
}

.py {
        padding: 35px 0 105px;
}

.nav {
        display: flex;
        align-items: center;
        a{
        margin-right: 35px;
            text-decoration: unset;
            cursor: pointer;

            font-family: "SerifPro-Regular";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #035aa6;
            &:last-of-type {
                margin-right: 0;
        }
        }
        &__link {
                color: white !important;
        }
}